.ViewListQuizes {
    margin: 0;
    position: absolute;
    padding: 0;
    width: 100%;
    height: 100%;
    color: var(--main-white-color);
}

.ViewListQuizes__header {
    background: black;
    display: block;
}

.ViewListQuizes__header-left {
    display: flex;
    align-items: center;
    width: 90px;
}

.ViewListQuizes__title {
    margin-left: 10px;
    color: white;
    font-size: 23px;
}
.ViewListQuizes__bacl{
    color: var(--main-white-color);
}

