.ListCard{
    /* padding: 0; */
    width: 100%;
    height: fit-content;
}
.ListCard__Card{
    max-width: var(--main-max-card-width);
    background-color: var(--main-second-bg-color);
}
.ListCard__title{
    color: var(--main-white-color);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}