.ListCard{
    padding: 0;
    width: 100%;
    /* height: auto; */
}
.ListCard__Card{
    background-color: var(--main-second-bg-color);
}
.ListCard__title{
    color: var(--main-white-color);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}