.Quiz {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.Quiz__background-img {
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
}

.Quiz__content {
    padding: 0;
    margin: 0;
    backdrop-filter:  blur(12px);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Quiz__title {
    padding-left: 10px;
    color: white;
    font-size: 16pt;
    text-shadow: 0 0 4px 2px rgb(78, 78, 78);
    background-position: center;
}

.Quiz__button-take-survey {
    width: 200px;
    border-radius: 8px;
}

.Quiz__carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 6px;
}

.Quiz__carousel-button {
    background: none;
    border: none;
    outline: none;
    opacity: .6;
    cursor: pointer;
}

.Quiz__carousel-button_invisible {
    visibility: hidden;
}

.Quiz__carousel-button:active {
    opacity: 1;
}

.Quiz__carousel-img {
    width: 166px;
    margin: 0 15px;
    border-radius: 14px;
}
