.Quiz {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.Quiz__background-img {
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
}

.Quiz__content {
    position: absolute;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Quiz__title {
    padding-left: 10px;
    color: white;
    font-size: 16pt;
    text-shadow: 0 0 4px 2px rgb(78, 78, 78);
    background-position: center;
}

.Quiz__button-take-survey{
    max-width: 280px;
    width: 80%;
    min-width: 200px;
    border-radius: 8px;
    height: 34px;
}

.Quiz__button-take-survey .Button__content{
    font-size: 16pt;
    line-height: 17px;
    height: 34px;
    /* line-height: 16pt; */
}

.Quiz__carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    width: 100%;
    height: 60%;
}

.Quiz__carousel-button {
    background: none;
    border: none;
    outline: none;
    opacity: .6;
    cursor: pointer;
}

.Quiz__carousel-button_invisible {
    visibility: hidden;
}

.Quiz__carousel-button:active {
    opacity: 1;
}

.Quiz__carousel-img {
    /* width: 60%;
    min-width: 166px;
    max-width: 300px; */
    max-height: 100%;
    max-width: calc(100% - 85px);
    margin: 0;
    border-radius: 14px;
}
@media only screen and (min-height : 700px){
    .Quiz__carousel {
        max-height: 400px; 
        max-width: 640px;
    }
}

