.Result-buttons__container {
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 24px -7px 24px -7px; */
    margin-top: 10px;
    background-color: var(--main-second-bg-color);
    border-radius: 15px;
    max-width: 370px;
    width: 100%;

    padding: 10px;
    box-sizing: border-box;

    /* display: grid;
    grid-template-columns: 1fr; */
}

.Result-buttons__button {
    background: var(--background_content);
    margin-top: 10px;
    border-radius: 10px;
}
.Result-buttons__button:first-child{
    margin-top: 0;
}

.Result-buttons__text{
    /* margin-top: 2px; */
    /* color: var(--main-white-color); */
    font-family: var(--font-tt);
    font-size: 20px;
}