.ListQuizes {
    background: black;
    color: white;
    min-height: calc(100vh - 52px);
    margin: 0;
    padding: 0;
    list-style: none;
    padding: 0 16px;
}

.ListQuizes__header {
    background: black;
    display: block;
}

.ListQuizes__header-left {
    display: flex;
    align-items: center;
}

.ListQuizes__title {
    margin-left: 10px;
    color: white;
    font-size: 23px;
}

