.Result {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 0 32px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
}

.Result__title {
    color: white;
    font-size: 23px;
    font-weight: 700;
    margin: 5px 0;
}

.Result__content {
    max-width: 320px;
    padding-top: 55px;
    min-height: 100vh;
    box-sizing: border-box;
}

.Result__image {
    border-radius: 8px;
    display: block;
    width: 100%;
}

.Result__text {
    text-align: center;
    font-size: 14pt;
}

.Result__list-buttons {
    display: grid;
    grid-template-columns: 1fr;
}

.Result__button {
    margin-bottom: 12px;
    display: block;
    width: 100%;
}

.Result__list-buttons .Button__content {
    font-size: 12pt;
}
