.Result {
    background: black;
    min-height: 100vh;
    /* Говнокод */
    /*Было padding: 60px 23px 10px 23px; */
    padding-top: 60px;
    box-sizing: border-box;
}

.Result__PanelHeader .PanelHeader__fixed{
    background: black;
}

.Result__title {
    color: white;
}

.Result__year {
    font-weight: 500;
    text-align: center;
    font-size: 100px;
    line-height: 76px;
    font-family: 'Lato';
    color: #848485;
    white-space: nowrap;
}

.Result__year-prefix {
}

.Result__year-postfix_good {
    color: #79C52D;
}

.Result__year-postfix_normal {
    color: #E0C225;
}

.Result__year-postfix_bad {
    color: #F10D0D;
}

.Result__historical-event {
    color: #858584;
    font-size: 20px;
    text-align: center;
    /* Говнокод */
    padding-top: 12px;
}

.Result__buttons-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
     /* Говнокод */
    margin: 24px -10px 24px -10px;
    margin-left: auto;
    margin-right: auto;
    width: 340px;
    height: 114px;
}

.Result__button {
    outline: none;
    border: none;
    color: #FFFFFF;
    background: #101010;
    border-radius: 8px;
    height: 50px;
    display: flex;
    align-items: center;
    /* Говнокод */
    width: 163px;
    /* margin: 10px; */
    /* Было так font-size: 13px; */
    font-size: 18px;
}

.Result__button::before {
    padding-right: 3px;
    width: 30px;
    height: 30px;
}

.Result__button_favorite::before {
    content: url("./favorite.svg");
    grid-column-end: auto;
}

.Result__button_refresh::before {
    content: url("./refresh.svg");
}

.Result__button_share::before {
    content: url("./share.svg");
}

.Result__button_format-list-bulleted::before {
    content: url("./format_list_bulleted.svg");
}

@media (min-width: 375px) {
    .Result__button {
        font-size: 18px;
    }
}
