.ListAge{
    position: absolute;
    width: 100%;
    height: 100%;
    color: var(--main-white-color);

    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
}
.ListAge__Header{
    color: var(--main-white-color);
}
.ListAge__content{
    width: 100%;
    display: flex;
    justify-content: center;
}


.ListAge__Card{
    background-color: var(--main-second-bg-color)
}
.ListAge__title{
    display: flex;
    justify-content: center;
}