.SpinnerView{
    margin: 0;
    position: absolute;
    padding: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 20px; */
    /* max-height: 50px; */
    /* overflow: hidden;
    max-width: 120px; */
    background-color: var(--main-bg-color);
}
.SpinnerView__spinnerBox{
    width: 60px;
    height: 60px;
    background-color: var(--main-gray-color);
    border-radius: 8px;
    box-shadow: 0 16px 32px 0 rgba(0,0,0,.08),0 0 8px 0 rgba(0,0,0,.08);
    
}
/* .SpinnerView__spinnerBox_spinner{
    width: 60px;
    height: 60px;
    color: var(--main-grey-color);

    animation-name: rotation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes rotation {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
} */

  
.SpinnerView__spinnerBox_spinner {
    /* position: fixed; */
    width: 90px;
    height: 90px;
    /* top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(1);
            transform: translate(-50%, -50%) rotate(45deg) scale(1); */
  }

  .stroke-text{
    /* height: 37px;
    width: 33px; */
    fill: var(--main-second-bg-color);
    stroke-width: 1.5;
    /* fill: aqua; */
    /* fill: #FF453A; */
    /* transform-origin: 50% 50%;
    transform: rotate(-45deg); */
    /* position: fixed; */
    /* width: 100px;
    height: 100px; */
    /* top: 50%;
    left: 50%; */
    /* -webkit-transform: rotate(80deg);
            transform: rotate(80deg); */
  }

  .stroke-still {
    stroke: var(--main-second-bg-color);
  }
  
  .text-animation{
  -webkit-animation: stroke-spacing 1.6s ease-in, stroke-color 6.4s linear;
      animation: stroke-spacing 1.6s ease-in, stroke-color 6.4s linear;
  -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
  -webkit-animation-delay: 0;
      animation-delay: 0;
  -webkit-animation-direction: normal;
      animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
  -webkit-animation-play-state: running;
      animation-play-state: running;
  -webkit-transform-origin: center center;
      transform-origin: center center;
    /* -webkit-animation: text-color 4.8s linear;
            animation: text-color 4.8s linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-delay: 0;
            animation-delay: 0;
    -webkit-animation-direction: normal;
            animation-direction: normal;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-play-state: running;
            animation-play-state: running;
    -webkit-transform-origin: center center;
            transform-origin: center center; */
  }
  @keyframes text-color{
    0%  { fill: #ffff;}
    24% { fill: #ffff;}
    25% { fill: #FF453A;}
    49% { fill: #FF453A;}
    50% { fill: #ffff;}
    74% { fill: #ffff;}
    75% { fill: #FF453A;}
    99% { fill: #FF453A;}
  }
  .stroke-animation {
    -webkit-animation: stroke-spacing 1.6s ease-in, stroke-color 6.4s linear;
            animation: stroke-spacing 1.6s ease-in, stroke-color 6.4s linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-delay: 0;
            animation-delay: 0;
    -webkit-animation-direction: normal;
            animation-direction: normal;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-play-state: running;
            animation-play-state: running;
    -webkit-transform-origin: center center;
            transform-origin: center center;
  }
  
  @keyframes stroke-spacing {
    0% {
      stroke-dasharray: 0 200;
    }
    45% {
      stroke-dashoffset: 0;
      stroke-dasharray: 200 200;
    }
    90% {
      stroke-dashoffset: -200;
      stroke-dasharray: 200 200;
    }
    100% {
      stroke-dashoffset: -200;
      stroke-dasharray: 200 200;
    }
  }
  
  @keyframes stroke-color {
    0%  { stroke: #ffff;}
    24% { stroke: #ffff;}
    25% { stroke: #FF453A;}
    49% { stroke: #FF453A;}
    50% { stroke: #ffff;}
    74% { stroke: #ffff;}
    75% { stroke: #FF453A;}
    99% { stroke: #FF453A;}
  }
  
