.ListCard{
    padding: 0;
    width: 100%;
    height: 20px;
    color: var(--main-white-color);
}
.ListCard__Card{
    background-color: var(--main-second-bg-color)
}
.ListCard__title{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}