
.Result {
    /* margin-top: 56px; */
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
}
.Result__title {
    width: 100%;
    display: flex;
    align-items: center;
 
}
.Result__content{
    width: 100%;
    max-width: var(--main-max-width);
    background: var(--background_content);
    /* min-height: 100vh;
    padding: 0px 10px 0px 10px;
    box-sizing: border-box; */
}


/* Ответ */
.Result__points {
    width: 100%;

    font-weight: 500;
    text-align: center;
    font-size: 100px;
    line-height: 76px;
    font-family: 'Lato';
    color: var(--main-white-color);
    /* white-space: nowrap; */

    /* animation-delay: calc(1*var(--main-delay-anim-result)); */
}


.Result__points-postfix_good {
    color: var(--main-green-color);
}

.Result__points-postfix_normal {
    color: var(--main-yellow-color);
}

.Result__points-postfix_bad {
    color: var(--main-red-color);
}



/* Панель с кнопками */
.Result__buttons{
    width: 100%;
    /* animation-delay: calc(1.5*var(--main-delay-anim-result)); */
}


/* Карточки */
.Result__card{
    margin-top: 8px;
    width: 100%;
    /* animation-delay: calc(2.5*var(--main-delay-anim-result)); */

    color: var(--main-white-color);
}



/* Анимация */
.Result__fade-anim{
    opacity: 0;
    animation-name: fade-left;
    animation-duration: .4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

@keyframes fade-left {
    from{
        margin-left: -150px;
        opacity: 0;
    }
    to{
        margin-left: 0;
        opacity: 1;
    }
}



/* Реклама */
.Result__adds{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    max-width: var(--main-max-width);

    /* animation-delay: calc(2*var(--main-delay-anim-result)); */
    /* border: none; */
}



/* Alert */
.AnswersQuestions__alert{
    background-color: var( --main-second-bg-color);
}

.AnswersQuestions__alert__answer{
    background-color: var( --main-second-bg-color);
}

.AnswersQuestions__alert__title-answer{
    font-size: 16px;
    background: var(--main-second-bg-color);
    position: relative;
    padding: 0 8px;
    margin: 0;
}
.AnswersQuestions__alert__title-answer-wrap {
    position: relative;
    display: flex;
    justify-content: center;
}

.AnswersQuestions__alert__title-answer-wrap::before {
    position: absolute;
    top: 100%;
    right: 0;
    transform: translateY(-50%);
    content: "";
    width: 100%;
    height: 2px;
    z-index: 2;
}
.AnswersQuestions__alert__title-answer-wrap_good::before {
    background: var(--main-green-color);
}

.AnswersQuestions__alert__title-answer-wrap_normal::before {
    background: var(--main-gray-color);
}

.AnswersQuestions__alert__title-answer-wrap_bad::before {
    background: var(--main-red-color);
}
.AnswersQuestions__alert__title-answer_good {
    color: var(--main-green-color);
}

.AnswersQuestions__alert__title-answer_normal {
    color: var(--main-gray-color);
}

.AnswersQuestions__alert__title-answer_bad {
    color: var(--main-red-color);
}

.AnswersQuestions__alert__text-answer {
    background: var(--main-therd-bg-color);
    margin-top: 10px;
    padding: 8px; 
    font-size: 16px;
    border-radius: 8px;
    text-align: start;
}

