.Result {
    margin: 0;
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--background_content);
    min-height: 100vh;
    padding: 0px 10px 0px 10px;
    box-sizing: border-box;
}

.Result__title {
    color: white;
}

.Result__year {
    font-weight: 500;
    text-align: center;
    font-size: 100px;
    line-height: 76px;
    font-family: 'Lato';
    color: var(--main-white-color);
    white-space: nowrap;
}

.Result__year-prefix {
}

.Result__year-postfix_good {
    color: #79C52D;
}

.Result__year-postfix_normal {
    color: #E0C225;
}

.Result__year-postfix_bad {
    color: var(--main-second-red-color);
}

.Result__historical-event {
    color: var(--text_secondary);
    font-size: 20px;
    text-align: center;
    padding-top: 12px;
}

.Result__buttons-container {
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 24px -7px 24px -7px; */
    margin-top: 10px;
    background-color: var(--main-second-bg-color);
    border-radius: 15px;
    max-width: 370px;
    width: 100%;

    padding: 10px;
    box-sizing: border-box;

    /* display: grid;
    grid-template-columns: 1fr; */
}

.Result__button {
    background: var(--background_content);
    margin-top: 10px;
    border-radius: 10px;
}
.Result__button:first-child{
    margin-top: 0;
}

/* .Result__button::before {
    padding-right: 3px;
    width: 30px;
    height: 30px;
}

.Result__button_favorite::before {
    content: url("./favorite.svg");
    grid-column-end: auto;
}

.Result__button_refresh::before {
    content: url("./refresh.svg");
}

.Result__button_share::before {
    content: url("./share.svg");
}

.Result__button_format-list-bulleted::before {
    content: url("./format_list_bulleted.svg");
} */

/* @media (min-width: 375px) {
    .Result__button {
        font-size: 18px;
    }
} */

.Result__button-text{
    /* margin-top: 2px; */
    /* color: var(--main-white-color); */
    font-family: var(--font-tt);
    font-size: 20px;
}



/* Реклама */
.Result__adds{
    margin-top: 20px;
}



/* Карточки */
.Result__cards{
    /* height: 100%; */
    /* width: 100%; */
    margin-top: 20px;
    /* border-radius: 16px;
    background-color: var(--main-second-bg-color); */
}



/* Alert */
.AnswersQuestions__alert{
    background-color: var( --main-second-bg-color);
}

.AnswersQuestions__alert__answer{
    background-color: var( --main-second-bg-color);
}

.AnswersQuestions__alert__title-answer{
    /* font-weight: 500; */
    font-size: 16px;
    /* line-height: 22px; */
    background: var(--main-second-bg-color);
    position: relative;
    padding: 0 8px;
    margin: 0;
}
.AnswersQuestions__alert__title-answer-wrap {
    position: relative;
    display: flex;
    justify-content: center;
}

.AnswersQuestions__alert__title-answer-wrap::before {
    position: absolute;
    top: 100%;
    right: 0;
    transform: translateY(-50%);
    content: "";
    width: 100%;
    height: 2px;
    z-index: 2;
}
.AnswersQuestions__alert__title-answer-wrap_good::before {
    background: var(--main-second-green-color);
}

.AnswersQuestions__alert__title-answer-wrap_normal::before {
    background: var(--main-gray-color);
}

.AnswersQuestions__alert__title-answer-wrap_bad::before {
    background: var(--main-second-red-color);
}
.AnswersQuestions__alert__title-answer_good {
    color: var(--main-second-green-color);
}

.AnswersQuestions__alert__title-answer_normal {
    color: var(--main-gray-color);
}

.AnswersQuestions__alert__title-answer_bad {
    color: var(--main-second-red-color);
}

.AnswersQuestions__alert__text-answer {
    background: var(--main-therd-bg-color);
    margin-top: 10px;
    padding: 8px; 
    font-size: 16px;
    border-radius: 8px;
    text-align: start;
    
}