
.Result {
    margin: 0;
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
    /* justify-content: center; */
    background: var(--background_content);
    min-height: 100vh;
    padding: 0px 10px 0px 10px;
    box-sizing: border-box;
}
.Result__container{
    width: 100%;
    max-width: var(--main-max-width);
    height: 100%;
}
.Result__title {
    color: white;
}

.Result__year {
    font-weight: 500;
    text-align: center;
    font-size: 100px;
    line-height: 76px;
    font-family: 'Lato';
    color: var(--main-white-color);
    white-space: nowrap;

    /* opacity: 0; */
    animation-delay: calc(1*var(--main-delay-anim-result));
}
/* .Result__anim-1{
    animation-delay: 1s;
}
.Result__anim-2{
    animation-delay: 2s;
} */

/* .Result__year-enter{
    margin-top: 100%;
}
.Result__year-enter-active{
    margin-top: 0;
    transition: margin-top 2s
}
.Result__year-exit{
    margin-top: 0;
} */

.Result__year-prefix {
}

.Result__year-postfix_good {
    color: #79C52D;
}

.Result__year-postfix_normal {
    color: #E0C225;
}

.Result__year-postfix_bad {
    color: var(--main-second-red-color);
}




.Result__historical-event {
    color: var(--text_secondary);
    font-size: 20px;
    text-align: center;
    padding-top: 12px;
}

.Result__buttons{
    width: 100%;
    max-width: var(--main-max-width);
    /* opacity: 0; */
    animation-delay: calc(1.5*var(--main-delay-anim-result));
}


/* Анимации */
.Result__fade-anim{
    opacity: 0;
    animation-name: fade-left;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

@keyframes fade-left {
    from{
        margin-left: -150px;
        opacity: 0;
    }
    to{
        margin-left: 0;
        opacity: 1;
    }
}





/* Реклама */
.Result__adds{
    margin-top: 20px;
    width: 100%;
    max-width: var(--main-max-width);

    /* opacity: 0; */
    animation-delay: calc(2*var(--main-delay-anim-result));
}



/* Карточки */
.Result__cards{
    /* height: 100%; */
    /* width: 100%; */
    margin-top: 20px;
    /* border-radius: 16px;
    background-color: var(--main-second-bg-color); */
}



/* Alert */
.AnswersQuestions__alert{
    background-color: var( --main-second-bg-color);
}

.AnswersQuestions__alert__answer{
    background-color: var( --main-second-bg-color);
}

.AnswersQuestions__alert__title-answer{
    /* font-weight: 500; */
    font-size: 16px;
    /* line-height: 22px; */
    background: var(--main-second-bg-color);
    position: relative;
    padding: 0 8px;
    margin: 0;
}
.AnswersQuestions__alert__title-answer-wrap {
    position: relative;
    display: flex;
    justify-content: center;
}

.AnswersQuestions__alert__title-answer-wrap::before {
    position: absolute;
    top: 100%;
    right: 0;
    transform: translateY(-50%);
    content: "";
    width: 100%;
    height: 2px;
    z-index: 2;
}
.AnswersQuestions__alert__title-answer-wrap_good::before {
    background: var(--main-second-green-color);
}

.AnswersQuestions__alert__title-answer-wrap_normal::before {
    background: var(--main-gray-color);
}

.AnswersQuestions__alert__title-answer-wrap_bad::before {
    background: var(--main-second-red-color);
}
.AnswersQuestions__alert__title-answer_good {
    color: var(--main-second-green-color);
}

.AnswersQuestions__alert__title-answer_normal {
    color: var(--main-gray-color);
}

.AnswersQuestions__alert__title-answer_bad {
    color: var(--main-second-red-color);
}

.AnswersQuestions__alert__text-answer {
    background: var(--main-therd-bg-color);
    margin-top: 10px;
    padding: 8px; 
    font-size: 16px;
    border-radius: 8px;
    text-align: start;
    
}

