.App-alert {
    text-align: left;
}
:root {
    --main-zero-bg-color:#1C1C1E;
    --main-second-bg-color:#2C2C2E;
    --main-therd-bg-color:#636366;
    --main-white-color:#ffff;
    --main-white-grey-color:rgba(235, 235, 235, 0.6);;
    --main-red-color:#FF453A;
    --main-blue-color:#0A84FF;

    /* Переопределено */
    --background_content:#1C1C1E;
    --header_text:white;
    --background_hover: rgba(0,0,0,0.16)
  }
  /* Переопределено */
  body{
    background-color: var(--background_content);
  }
  html{
    background-color: var(--background_content);
  }

  .vkui__root{
    --font-tt: "Lato", "TT Commons", -apple-system, Helvetica Neue, Roboto, sans-serif;
  }
  .vkuiModalPageHeader__content-in{
    width: 100%;
  }
  /* .vkuiPanelHeader__content-in{
    font-weight: 500;
    height: 100%;
  } */

  .PanelHeader__content{
    height: 100%;
  }
 .Panel.Panel--regular{
   background-color: var(--background_content);
 }
.Panel::after { 
  position: fixed; 
}

.vkuiAlert{
  color: var(--main-white-color);
}
.vkuiAlert::before{
  background-color: var(--main-second-bg-color);
}
.vkuiAlert__button{
  color: var(--main-blue-color);
}
.vkuiAlert__button--destructive{
  color: var(--main-red-color);
}
.vkuiAlert__button--cancel{
  color: var(--main-blue-color);
}

.vkuiModalPage__in{
  background-color: var(--main-second-bg-color);
}

