.ListQuestions__modal-el{
    background-color: var(--main-zero-bg-color);
    border-radius: 10px;
    margin-top: 8px;
}
.ListQuestions__modal-el_answered{
    background-color: var(--main-therd-bg-color);
}
.ListQuestions__modal-el__text{
    color: var(--main-white-color);
}