.ItemListQuizes {
    background: #232323;
    border-radius: 8px;
    padding: 9px;
    max-width: 340px;
    margin-bottom: 10px;
    box-sizing: border-box;
    width: 100%;
}

.ItemListQuizes__image-wrap {
    position: relative;
}

.ItemListQuizes__image {
    display: block;
    width: 100%;
}

.ItemListQuizes__percent-wrap {
    position: absolute;
    top: 0;
    right: 15px;
    background: #232323;
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 10px;
    /* Я добавил паддинги */
    padding: 3px;
    padding-top: 0px;
}

.ItemListQuizes__percent {
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    width: 52px;
    height: 18px;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ItemListQuizes__percent_good {
    color: #79C52D;
    border-color: #79C52D;
}

.ItemListQuizes__percent_normal {
    color: #F1CD0D;
    border-color: #F1CD0D;    
}

.ItemListQuizes__percent_bad {
    color: #F10D0D;
    border-color: #F10D0D;    
}

.ItemListQuizes__row-bottom {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ItemListQuizes__title {
    font-size: 17px;
    font-weight: 500;
    margin: 0;
    margin-right: 10px;
}

.ItemListQuizes__button-play {
    min-width: 80px;
    height: 32px;
    font-size: 14px;
    line-height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #EEEEEE;
    border: 1px solid #BB1111;
    box-sizing: border-box;
    border-radius: 20px;
    background: none;
    outline: none;
}
