.StartWindow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: absolute;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #101010;
    color: #BAAB8F;
    font-weight: 500;
    line-height: 16px;
}

.StartWindow__container {
    text-align: center;
    width: 200px;
}

.StartWindow__title {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    line-height: 16px;
}

.StartWindow__text {
    font-size: 13px;
}

.StartWindow__button {
    text-transform: uppercase;
    font-size: 14px;
    background: none;
    border: 1px solid #BAAB8F;
    border-radius: 16px;
    padding: 8px 16px;
    color: #BAAB8F;
    outline: none;
}