.Question {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.Question__number-question {
    color: white;
    font-size: 23px;
    font-weight: 700;
    margin: 5px 0;
}

.Question__background-img {
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    height: 100%;
    width: 100%;
}

.Question__content {
    position: absolute;
    padding: 0;
    margin: 0;
    min-height: 100%;
    width: 100%;
    padding: 55px 32px 0 32px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.Question__image {
    border-radius: 8px;
    height: fill-available;
    margin-left: auto;
    margin-right: auto;
}

.Question__question-text {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.Question__answer-options {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: auto;
    margin-right: auto;
}

.Question__answer {
    margin-bottom: 12px;
}
@media only screen and (min-height : 700px){
    .Question__image{
        max-width: 320px;
        max-height: 320px;
    }
    .Question__answer-options {
        max-width: 640px;
    }
    .Question__question-text{
        max-width: 640px;
    }
}

@media only screen and (max-height : 500px){
    .Question__image{
        max-width: 240px;
        max-height: 240px;
    }
    .Question__answer-options {
        max-width: 300px;
    }
    .Question__question-text{
        max-width: 300px;
    }
}

