.Question {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 0 32px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
}

.Question__number-question {
    color: white;
    font-size: 23px;
    font-weight: 700;
    display: flex;
    align-items: center;
    line-height: 1.25;
}

.Question__content {
    max-width: 320px;
    padding-top: 55px;
    min-height: 100vh;
    box-sizing: border-box;
}

.Question__image-wrap {
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.Question__image-wrap_rotated {
    transform: rotateY(180deg);
}

.Question__image-side-wrap {
    position: absolute;
    top: 0;
    left: 0;
}

.Question__image-side-wrap_front {
    transform: rotateY(0);
}

.Question__image-side-wrap_back {
    transform: rotateY(180deg);    
}

.Question__image-side-wrap_disable {
    pointer-events: none;
}

.Question__image {
    display: block;
    width: 100%;
    border-radius: 8px;
}

.Question__image_hidden {
    visibility: hidden;
}

.Question__rotate-button {
    position: absolute;
    bottom: 8px;
    right: 8px;
    height: 40px;
    width: 40px;
    background: none;
    border: none;
    outline: none;
}

.Question__rotate-button_front {
    background-image: url("./frontButton.svg");
}

.Question__rotate-button_back {
    background-image: url("./backButton.svg");
}

.Question__question-text {
    text-align: center;
    font-size: 14pt;
}

.Question__answer-options {
    display: grid;
    grid-template-columns: 1fr;
}

.Question__answer {
    margin-bottom: 12px;
    display: block;
    width: 100%;
}

.Question__answer .Button__content {
    font-size: 12pt;
}
