.App-alert {
    text-align: left;
}
:root {
    --main-zero-bg-color:#1C1C1E;
    --main-second-bg-color:#2C2C2E;
    --main-therd-bg-color:#636366;
    --main-white-color:#ffff;
    --main-red-color:#FF453A;
    --main-second-red-color:#fd392f;
    --main-blue-color:#0a84fe;
    --main-yellow-color:#ffd60a;
    --main-green-color:#76B900;
    --main-second-green-color:#76B900;
    --main-gray-color:#8f909b;
    --main-oliveOil-color: #BAAB8F;
    --main-purple-color:#64d2ff;

    --main-max-width:340px;
    /* --main-delay-anim-result: .3s; */
 
    /* Переопределено */
    --background_content:#1C1C1E;
    --header_text:white;
    --text_secondary:rgba(235, 235, 235, 0.6);
    --background_hover: rgba(0,0,0,0.16);
    --action_sheet_separator:#1C1C1E;
    --header_background:var(--background_content);

  }
  /* Переопределено */
  body{
    background-color: var(--background_content);
  }
  html{
    background-color: var(--background_content);
  }

  .vkui__root{
    --font-tt: "Lato", "TT Commons", -apple-system, Helvetica Neue, Roboto, sans-serif;
  }
  .vkuiModalPageHeader__content-in{
    width: 100%;
  }
  .vkuiPanel.vkuiPanel--regular::after{
    background-color: var(--background_content);
  }
  /* .vkuiPanelHeader__content-in{
    font-weight: 500;
    height: 100%;
  } */

  /* .vkuiPanelHeader {
    background-color: black;
  } */
  .PanelHeader__content{
    height: 100%;
  }
 .Panel.Panel--regular{
   background-color: var(--background_content);
 }
.Panel::after { 
  position: fixed; 
}

.vkuiAlert{
  color: var(--main-white-color);
}
.vkuiAlert::before{
  background-color: var(--main-second-bg-color);
}
.vkuiAlert__button{
  color: var(--main-blue-color);
}
.vkuiAlert__button--destructive{
  color: var(--main-red-color);
}
.vkuiAlert__button--cancel{
  color: var(--main-blue-color);
}
/* .vkuiAlert {
  max-width: 500px;
} */
/* .vkuiAlert--desktop{
  width: 500px;
}
.vkuiAlert--android{
  width: 500px;
} */

/* .vkuiAlert--desktop.vkuiAlert--android{
  width: 500px;
} */

/* .vkuiAlert--ios{
  width: 500px;
} */

.vkuiModalPage__in{
  background-color: var(--main-second-bg-color);
}

.vkuiButton__content :not(.Result__adds){
  padding-top: 0;
}

.AnswersQuestions__alert_big .vkuiAlert--ios{
  width: 90%;
}

/* @supports (-webkit-touch-callout: none) {
    .vkuiAlert--ios{
    width: 500px;
  }
} */

/* Реклама */
.Result__adds .vkuiSimpleCell__children{
  color: var(--main-white-color);
}
.Result__adds .vkuiPromoBanner{
  border-radius: 16px;
  background-color: var(--main-second-bg-color);
  outline: none;
}
/* .vkuiCard:not(:first-child){
  margin-top: 20px;
} */