
/* Новое */
.ItemAnswerQuestion{
    width: 100%;
}
.ItemAnswerQuestion:not(:first-child){
    margin-top: 20px;
}
.ItemAnswerQuestion__button-text{
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
}