/* .ItemAnswerQuestion {
    background: #202020;
    border-radius: 8px;
    margin-top: 10px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    max-width: 332px;
}

.ItemAnswerQuestion__question-wrap {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ItemAnswerQuestion__question-text {
    color: #EEEEEE;
    font-weight: 900;
    font-size: 16px;
}

.ItemAnswerQuestion__arrow {
    width: 26px;
    height: 26px;
    flex-shrink: 0;
    margin-left: 5px;
}

.ItemAnswerQuestion__arrow_good {
    background-image: url("./arrowGood.svg");
}

.ItemAnswerQuestion__arrow_open {
    background-image: url("./arrowOpen.svg");
}

.ItemAnswerQuestion__arrow_bad {
    background-image: url("./arrowBad.svg");
}

.ItemAnswerQuestion__wrap-answers {
    overflow: hidden;
    height: auto;
    transition: height 0.8s;
}

.ItemAnswerQuestion__wrap-answers_hide {
    height: 0px;
}

.ItemAnswerQuestion__answer {

}

.ItemAnswerQuestion__title-answer-wrap {
    position: relative;
    display: flex;
    justify-content: center;
}

.ItemAnswerQuestion__title-answer-wrap::before {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    content: "";
    width: 100%;
    height: 1px;
}

.ItemAnswerQuestion__title-answer-wrap_good::before {
    background: #79C52D;
}

.ItemAnswerQuestion__title-answer-wrap_normal::before {
    background: #858585;
}

.ItemAnswerQuestion__title-answer-wrap_bad::before {
    background: #E81919;
}

.ItemAnswerQuestion__title-answer {
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    background: #202020;
    position: relative;
    padding: 0 8px;
    margin: 0;
}

.ItemAnswerQuestion__title-answer_good {
    color: #79C52D;
}

.ItemAnswerQuestion__title-answer_normal {
    color: #858585;
}

.ItemAnswerQuestion__title-answer_bad {
    color: #E81919;
}

.ItemAnswerQuestion__text-answer {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
    color: #EEEEEE;
    background: #404040;
    border-radius: 8px;
    padding: 3px 8px;
    margin: 0;
    margin-bottom: 8px;
} */

/* Новое */
.ItemAnswerQuestion{
    
}
.ItemAnswerQuestion__button-text{
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
}